<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :body, input_html: { rows: 20 } %>
    <%= f.input :link, as: :string %>
  </div>

  <!-- TODO: status publish/draft -->

  <!-- TODO: add publisher list to post -->

  <div class="form-inputs">
    <%= f.input :publisher_klass, collection: Rails.configuration.x.publishers %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
